<form class="search-form">
    <mat-form-field>
        <input
            type="text"
            id="search-input"
            placeholder="Search for Article"
            aria-label="Article-Headline"
            matInput
            [formControl]="myControl"
            [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>