.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
  
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.hiddenNav{
  display: none;
}

.title, .title:visited{
  font-size: 35px;
  align-self: center;
  text-decoration: none;
  color: #b2ebf2;
}
.mat-toolbar{
  display: flex;
  color: #b2ebf2;
}

.navbar-spacer{
  flex: 1 1 auto;
}

