/* You can add global styles to this file, and also import other style files */
h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 250%;
    color: #BCF7F6;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #1B356B;
    color: #BCF7F6;
    margin: 0;
}

button{
    display: inline-block;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    background-color: #BCF7F6;
    color: #1B356B;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html, body { height: 100%; }
