.grid-container {
  margin: 20px;
  color: #b2ebf2;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  cursor: pointer;
  color: #b2ebf2;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.mat-card-image{
  object-fit: cover;
  height: 226px;
  margin: 0 0 0 -16px;
}

.mat-card-actions{
  padding: 0;
  display: flex;
  justify-content: center;
}
.mat-card:hover{
  border-width: 2px;
  border-style: solid;
  border-color: #BCF7F6;
}

.search-form {
  width: 66%;
  margin: auto;
}
mat-form-field{
  display: inline;
}
